body
{
    background-image: url(images/backhome3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1500px;
    margin: 0;
}


/*For table*/
@media only screen and (max-width: 1024px)
{
    body
    {
        background-size: 1200px
    }
}

/*For mobile*/
@media only screen and (max-width: 500px)
{
    body
    {
        background-size: 1000px
    }
}


div#main_container
{
    
}
div#header
{
    background-image: url(images/header.jpg);
    color: white;
    font-family: arial black;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    top: 0;
    position: sticky;
    border: 5px solid white;
    border-right: none;
    border-left: none;
    border-top-color: black;
    border-bottom-color: darkred;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
    
}

/*For laptopf*/
@media only screen and (min-width: 1103px)
{
    div#header
    {
        font-size: 21px;
    }
}
/*For tablet*/
@media only screen and (max-width: 1024px)
{
    div#header
    {
        font-size: 19px;
    }
}

/*For mobile*/
@media only screen and (max-width: 560px)
{
    div#header
    {
        font-size: 15px;
        padding: 10px;
    }
}

/*For mobile*/
@media only screen and (max-width: 500px)
{
    div#header
    {
        font-size: 10px;
        padding: 10px;
    }
}




div#body
{
    display: block;
    margin-top:20px;
}

div.links
{
    background-color: #7B68EE;
    color: white;
    text-align: center;
    font-family: arial black;
    padding: 50px 50px 50px 50px;
    font-size: 68px;
    border: px solid #FA8072;
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 0.1em;
}

/*For tablet*/
@media only screen and (max-width: 1024px)
{
    div.links
    {
        font-size: 30px;
        padding: 45px 45px 45px 45px;
    }
}

/*For mobile*/
@media only screen and (max-width: 500px)
{
    div.links
    {
        font-size: 30px;
        padding: 25px 25px 25px 25px;
    }
}


div.links:hover
{
    cursor: pointer;
    background-color: #1E9;
    padding:44px 55px 46px 45px;
    font-size: 72px;
}

/*For tablet*/
@media only screen and (max-width: 1024px)
{
    div.links:hover
    {
        font-size: 42px;
        padding: 33px 48px 25px 42.5px;
        
    }
}

/*For mobile*/
@media only screen and (max-width: 500px)
{
    div.links:hover
    {
        font-size: 32px;
        padding: 25px 28px 20px 22.5px;
        
    }
}

div#footer
{
    background-color:  #778899;
    text-align: right;
    color: white;
    padding: 10px;
    font-size: 18px;
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    
}

/*For tablet*/
@media only screen and (max-width: 1024px)
{
    div#footer
    {
        width: 100%;
        font-size: 18px;        
    }
}

/*For mobile*/
@media only screen and (max-width: 500px)
{
    div#footer
    {
        width: 100%;
        font-size: 12px;        
    }
}


div#leftpanel
{
    color: #00FF33;
    position: fixed;
    float: left;
    width: 20%;
    text-align: center;
    padding-left: 2px;
    font-family: arial black;
    font-size: 28px;
    word-spacing: 2px;
    font-weight: bolder;
}


input
{
    font-family: tahoma;
    font-size: 18px;
    padding: 5px;
    border-radius:0.5em;
    width: 100%
}

input:focus
{
    background-color: grey;
    color: white;
}